<div class="Cards-Container">
  <div class="Card">
    <div class="Card-Circle">
      <div class="Sub-Circle" id="s1">
        <img src="../../assets/icons/icon_1.png" alt="" />
      </div>
    </div>
    <div class="Card-Details">
      <h3 id="t1">EMPOWERMENT</h3>
      <p>
        “Empower individuals and businesses across Morocco with the knowledge
        and skills needed to harness the full potential of Microsoft
        technology.”
      </p>
    </div>
  </div>
  <div class="Card">
    <div class="Card-Circle">
      <div class="Sub-Circle" id="s2">
        <img src="../../assets/icons/icon_2.png" alt="" />
      </div>
    </div>
    <div class="Card-Details">
      <h3 id="t2">INCLUSIVITY</h3>
      <p>
        “Promote inclusivity and diversity within the Morocco Microsoft
        Community. We strive to create a welcoming environment that fosters
        mutual support.”
      </p>
    </div>
  </div>
  <div class="Card">
    <div class="Card-Circle">
      <div class="Sub-Circle" id="s3">
        <img src="../../assets/icons/icon_3.png" alt="" />
      </div>
    </div>
    <div class="Card-Details">
      <h3 id="t3">INNOVATION</h3>
      <p>
        “Our mission is to inspire creativity, problem-solving, and forward
        thinking. Through our events, we aim to embrace innovation.”
      </p>
    </div>
  </div>
</div>
